@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trocchi&display=swap');

/* test for webpack */
:root{
    --Header-font: 'Montserrat', sans-serif;
    --font-global: 'Trocchi', sans-serif;
    --global-color: #424e50;
}

*{
    font-family: var(--font-global);
}

h1, h2, h3, span{
    text-transform: uppercase;
    font-family: var(--Header-font);
}

body{
    margin: 0;
    background-color: #d7d7d7;
}
/* Header */
.nav {
    position: fixed !important;
    border: none;
    background: #ffff;
    margin-bottom: 0;
    width: 100%;
    height: auto;
    padding: 2.2rem 0 1.5rem 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 0rem; */
}

.nav img{
    width:10%;
}
.navButtons {
    display: flex;
    gap: 1rem;
}

/* Main */

.home-background {
    background: url(./assets/dotpattern.png),url(./assets/home_image.jpg) center bottom no-repeat;
    background-blend-mode: multiply;
    background-size: auto, 98% 100%;
    min-height: 79rem;
    text-align: center;
}
.home_message {
    color: var(--global-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1vh 25vw 1vh 25vw;
}
.home_message h3 {
    
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 500;
}
.homeContainer {
    flex: 1 1 auto;
    padding: 1rem 10rem 1rem 10rem;
}
.homeContainer p {
    margin: 0;
    padding-bottom: 2rem;
    font-weight: 400;
    letter-spacing: 0.03em;
}
.sans {
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.container {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.home-background img {
    width: 80%;
    height: 80%;
    margin-top: 25rem;
}


.beersImage {
    background: url(./assets/dotpattern.png),url(./assets/beertaps.jpg) center bottom no-repeat;
    background-blend-mode: multiply;
    background-position-x: center;
    background-size: auto, 98%;
    text-align: center;
    min-height: 1100px;
    padding-top: 10%;
}

.alcohol{
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    text-align: center;
    /* background: url(./assets/dotpattern.png) left top repeat; */
}
.beers {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    background-color: rgba(0,0,0,0.6);
    color: white;
    margin: 5rem;
    border-radius: 2rem;
}
.drinks {
    display: grid;
    grid-template-rows: repeat(10,1fr);
    background-color: rgba(0,0,0,0.6);
    color: white;
    margin: 5rem;
    border-radius: 2rem;
}


/* Dinner Menu */
.dinner{
    background: url(./assets/dotpattern2.png);
    padding-bottom: 6rem;
}
.dinnerText {
    display: flex;
    justify-content: center;
    align-items: center;
}
.dinner img{
    padding:5rem 0 5rem 0;
}
.dinnerMenu{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15rem;
}
.dinner1, .dinner2 {
    background-color: whitesmoke;
    padding: 0 3rem 5rem 3rem;
    border-radius: 2rem;
    /* display: grid; */
}

.dinner h1, .breakfast h1{
    color: #799b5e;
    text-decoration: underline;
}

/* Breakfast Menu */
.breakfast{
    padding-bottom: 6rem;
}
.breakfastMenu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15rem;
}

.breakfast img{
    padding: 5rem 0 5rem 0
}

.breakfastText{
    display: flex;
    justify-content: center;
    align-items: center;
}


.breakfast1, .breakfast2 {
    background-color: whitesmoke;
    border-radius: 2rem;
    padding: 0rem 1rem 0rem 1rem;
}
/* Events */
.events {
    background: url(./assets/dotpattern.png), url(./assets/specials_background.jpg) center top no-repeat;
    background-blend-mode: multiply;
    min-height: 100vh;
    padding: 3rem 0 3rem 0;
    background-size: auto, 98% 100%;
}
.events img {
    padding: 1rem 0 5rem 0;
}
.eventBanner {
    display: flex;
    justify-content: center;
}
.highlights, .event_list{
    color:whitesmoke;
}

.event-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4em;
}

.day {
    flex: 0 0 30%;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
}

.highlights{
    background-color: #5a92ade3;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 3rem;
    display: inline;
    text-align: center;
    letter-spacing: 2px;
}

.event_list {
    font-size: 2rem;
    background-color: rgba(0,0,0,0.5);
    border-radius: 0rem;
}

/* Footer  */

.site-footer{
    background-color: #AFCB98;
    padding: 1rem 0 1rem 0;
}

.footerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


.address{
    text-align: center;
    font-style: normal;
}
.direction{
    text-decoration: underline;
}
a{
    text-decoration: none;
}
a:hover, a:visited, a:active{
    color: inherit;
}
