/* test for webpack */

.nav{
    position: fixed !important;
    
}

.home-background{
    background: url(./assets/dotpattern.png),url(./assets/home_image.jpg) left -50px top no-repeat;
    background-blend-mode: multiply;
    margin-top: 2rem;
    min-height: 89rem;
}   
